body {
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
}

.title{
    color: #1ed760;
    font-size: 2.5rem;
}

img {
    width: 150px;
}

.info-section h2 {
    font-size: 1.8rem;
    color: white;
}

.info-section p {
    color: #b3b3b3;
}

.info-section li {
    color: #b3b3b3;
}

.info-section ul {
    list-style-type: none;
}

.result-section{
    background-color: #1e1e1e;

    padding: 20px;
    border-radius: 10px; /*round border*/
    margin-bottom: 40px;
}

#result-container {
    text-align: center;
}

.result-section h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.spotify-button, .result-button{
    background-color: black;
    color: #1ed760;
    font-size: 1rem;

    padding: 12px 24px;
    border: none;
    border-radius: 25px;
}

.result-card{
    background-color: #282828;
    color: white;

    padding: 30px;
    border-radius: 10px;
}

.result-intro-text{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 10px;
}